* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(0, 0%, 95%);
}

.main {
  display: flex;
  justify-content: center;
  max-width: 75em;
  height: 36rem;
  margin: 7rem;
  padding: 0rem 5rem;
}

.icon {
  width: 5rem;
}

.title {
  font-family: 'Big Shoulders Display', cursive;
  font-weight: 700;
  font-size: 2.5rem;
  color: hsl(0, 0%, 95%);
  text-transform: uppercase;
  padding: 2rem 0;
}

.description {
  padding: 0 0rem 4rem 0;
  font-size: 1rem;
  line-height: 1.6rem;
  padding-bottom: 4rem;
}

.sedans,
.suvs,
.luxury {
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 400;
  color: hsla(0, 0%, 100%, 0.75);
  padding: 4em;
  display: flex;
  flex-direction: column;
}

.sedans {
  border-radius: 0.5rem 0rem 0rem 0.5rem;
  background-color: hsl(31, 77%, 52%);
}

.suvs {
  background-color: hsl(184, 100%, 22%);
}

.luxury {
  border-radius: 0rem 0.5rem 0.5rem 0rem;
  background-color: hsl(179, 100%, 13%);
}

.sedansButton,
.suvsButton,
.luxuryButton {
  background-color: hsl(0, 0%, 95%);
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 400;
  width: 8rem;
  height: 3.5rem;
  margin-top: 3rem;
  border-radius: 5rem;
  border: none;
  cursor: pointer;
}

.sedansButton {
  color: hsl(31, 77%, 52%);
}

.suvsButton {
  color: hsl(184, 100%, 22%);
}

.luxuryButton {
  color: hsl(179, 100%, 13%);
}

.sedansButton:hover {
  background-color: hsl(31, 77%, 52%);
  border: 2px solid hsl(0, 0%, 95%);
  color: hsl(0, 0%, 95%);
}

.suvsButton:hover {
  background-color: hsl(184, 100%, 22%);
  border: 2px solid hsl(0, 0%, 95%);
  color: hsl(0, 0%, 95%);
}  

.luxuryButton:hover {
  background-color: hsl(179, 100%, 13%);
  border: 2px solid hsl(0, 0%, 95%);
  color: hsl(0, 0%, 95%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 375px) {

}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 1025px) {

}