* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(0, 0%, 95%);
}

.title {
  font-family: 'Big Shoulders Display', cursive;
  font-weight: 700;
  color: hsl(0, 0%, 95%);
}

.sedans,
.suvs,
.luxury {
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 400;
  color: hsla(0, 0%, 100%, 0.75);

}
.sedans {
  background-color: hsl(31, 77%, 52%);
}

.suvs {
  background-color: hsl(184, 100%, 22%);
}

.luxury {
  background-color: hsl(179, 100%, 13%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}


