* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(0, 0%, 95%);
}

.main {
  display: flex;
  align-content: center;
  margin: 10rem 15rem 10rem 15rem;
}

#icon {
  padding: 1rem 12rem 1rem 0;
}

#title {
  font-family: 'Big Shoulders Display', cursive;
  font-weight: 700;
  font-size: 200%;
  color: hsl(0, 0%, 95%);
  text-transform: uppercase;
  padding: 1rem 0;
}

#description {
  padding: 0 3rem 4rem 0;
  font-size: 75%;
  line-height: 200%;
}

.sedans,
.suvs,
.luxury {
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 400;
  color: hsla(0, 0%, 100%, 0.75);
  padding: 2em;
}

.sedans {
  border-radius: 2% 0 0 2%;
  background-color: hsl(31, 77%, 52%);
  display: flex;
  flex-direction: column;
}

.suvs {
  background-color: hsl(184, 100%, 22%);
  display: flex;
  flex-direction: column;
}

.luxury {
  border-radius: 0 2% 2% 0;
  background-color: hsl(179, 100%, 13%);
  display: flex;
  flex-direction: column;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}